# Ignore everything
*

# Then un-ignore all directories, to allow navigating into them
!*/

tw_lib
!.vscode
!.gitignore
!*.py
!*.lua
script_dump
submods
*/.git
**/*.dds
**/*.material
Backup
*.pack
*.png
*.sublime-project
**/.vscode
**/*.xml