[submodule "li_morathi_progression"]
	path = li_morathi_progression
	url = C:\\Users\\johns\\Downloads\\temp\\twmod\\warhammer_3\\li_morathi_progression
[submodule "li_katarin_progression"]
	path = li_katarin_progression
	url = C:\\Users\\johns\\Downloads\\temp\\twmod\\warhammer_3\\li_katarin_progression
[submodule "li_miaoying_progression_stages"]
	path = li_miaoying_progression_stages
	url = C:\\Users\\johns\\Downloads\\temp\\twmod\\warhammer_3\\li_miaoying_progression_stages
